!jest.config.js
*.d.ts
node_modules
.venv/
output.json
docker/app/*.log
# Installed dependencies for container image
_dependencies

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json
packaging/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Mac
*.DS_Store

# Custom
dev-tools/deploy-local.sh
docker/app/repl_state/repl_state.pkl
docker/app/output/*
docker/app/tests/output/*
**/.**.drawio.bkp
.ash/ash_output/*
evaluation/evaluation_results/*
evaluation/continuous_evaluation/*