/* Trace Display Styles */

/* Make the h3 variant in trace steps smaller */
.trace-step-header h3 span {
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 1 !important;
  margin: 0 !important;
}

/* Additional trace styling */
.trace-step {
  display: flexbox;
  margin-bottom: 16px;
}

/* Trace message inline styling */
.trace-message-inline {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 12px;
}

.subtask-content {
  border-left: 2px solid #eaeded;
  margin-top: 4px;
}

.subtask-header {
  font-weight: 500;
  font-size: 0.9rem;
  color: #414d5c;
  margin-bottom: 4px;
}